[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/scratch.vim"]

	path = bundle/scratch.vim

	url = https://github.com/vim-scripts/scratch.vim.git

[submodule "bundle/snipmate.vim"]

	path = bundle/snipmate.vim

	url = https://github.com/msanders/snipmate.vim.git

	ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
